<!DOCTYPE html>
<html lang="en">
<head>
<link rel="stylesheet"
	href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css"
	integrity="sha384-BVYiiSIFeK1dGmJRAkycuHAHRg32OmUcww7on3RYdg4Va+PmSTsz/K68vbdEjh4u"
	crossorigin="anonymous">
<title>Listar mis incidencias</title>
</head>
<body>
	<div class="container">
		<h2>Mis incidencias</h2>
		<div th:if="${!incidences.isEmpty()}" class="container">
			<div class="row" th:each="incidence : ${incidences}">
				<div class="panel panel-default"
					style="text-align: left; margin-left: 1%;">
					<h3 style="margin-left: 1%;">Nombre incidencia</h3>
					<p style="margin-left: 3%;" th:text="${incidence.name}">
					</dt>
					<h3 style="margin-left: 1%;">Descripción</h3>
					<p style="margin-left: 3%;" th:text="${incidence.description}">
					</dt>
					<h3 style="margin-left: 1%;">Localización</h3>
					<p style="margin-left: 3%;" th:text="${incidence.location}">
					</dt>
					<h3 style="margin-left: 1%;">Etiquetas</h3>
					<ul>
						<div th:each="tag : ${incidence.getTagList()}">
							<li style="margin-left: 3%;" th:text="${tag}"></li>
						</div>
					</ul>
					<h3 style="margin-left: 1%;">propiedades</h3>
					<dl>
						<div th:each="pair : ${incidence.getPropertyMap()}">
							<dd style="margin-left: 3%;" th:text="${pair.key}"></dd>
							<dt style="margin-left: 5%;" th:text="${pair.value}"></dt>
						</div> 
					</dl>
					<h3 style="margin-left: 1%;">Estado</h3>
					<p style="margin-left: 3%;" th:text="${incidence.state}"></p>
					<h3 style="margin-left: 1%;">Expiración</h3>
					<p style="margin-left: 3%;" th:text="${incidence.expiration}">
					<h3 style="margin-left: 1%;">Comentarios</h3>
					<ul>
						<div th:each="comment : ${incidence.getCommentList()}">
							<li style="margin-left: 3%;" th:text="${comment}"></li>
						</div>
					</ul>
					<h3 style="margin-left: 1%;">Información adicional</h3>
					<ul>
						<div th:each="info : ${incidence.getInfoList()}">
							<li style="margin-left: 3%;" th:text="${info}"></li>
						</div>
					</ul>
				</div>
			</div>
		</div>
	</div>
</body>
</html>